@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&display=swap'); 

/*reset*/
html {
    scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;}
* {margin: 0; padding: 0;}
a {color:inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i { font-style: normal;}
h1, h2, h3, h4, h5,h6 {font-size: inherit;}
a:hover { text-decoration: none; color:inherit;}

/*layout*/
body{font-family: 'Noto Sans KR', sans-serif; font-size: 15px;}
.wrap {width: 100%; margin: 0 auto;}
section{width: 1400px; overflow: hidden;}
.slick-next{opacity: 0;}
/*header*/
header{width: 100%; height: 70px; position: fixed; 
background: #6D6D6D; 
z-index: 30; opacity: 0.7; overflow: hidden;}
.innerheader{z-index: 50; width: 1000px;  height: 70px; 
/*background: #555;*/
margin: 0 auto;}
.innerheader .nav{
color: #fff; font-weight: normal; }
.innerheader .nav li{width: 20%; text-align: center; line-height: 70px; float: left;  }
.innerheader .nav li a{display: block;}
.innerheader .nav li a:hover{color: #9d73f8;}


/*fixHeader*/
header.on{transition: all 0.5s;}
header:before{content: ''; width: 100%; height: 0; background: #fff;
position: absolute; top: 0; transition: all 0.6s; z-index: -1; border-bottom: 1px solid #2c2c2c; }
header.on:before{width: 100%; height: 100%; border-bottom: 1px solid #838383; transition: all 0.5s;}
.nav.on{transition: all 0.5s; color: #000; font-weight: bold;}

/*id aside 사이드바*/
#aside {position: absolute; right: 30px; top: 150px; width: 90px; height: 300px; border-radius: 32px; transition: top 0.3s; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);}
#aside .icon{font-size: 30px; color: #999; text-align: center; margin-top: 30px;}
#aside .icon li{margin: 20px 0;}
#aside .icon li:hover{color: #9d73f8; transition: all 0.3s;}
#aside .icon li p{font-size: 15px;}
#aside .icon li:nth-child(3){position: relative;}
#aside .icon li .inner{font-size: 17px; position: absolute; right: 40px; top: -7px; padding: 1px 70px; border-radius: 10px;
box-sizing: border-box;
opacity: 0;
}z
#aside .icon li .inner p{font-size: 16px; animation-name: inner; 
animation-duration: }
/*#aside .icon li .inner p:hover{}*/
#aside .icon li .inner li:first-child a p{margin-right: 15px;}
#aside .icon li .inner li:last-child a p{margin-top: -15px;}
#aside .icon li .inner.on{opacity: 1;}

/*------------------------contact---------------------------------*/
.contact{width: 100%; height: 100vh; position: relative; }
.contact:before{content: ''; position: absolute; width: 15%; height: 30%; border-radius: 100%; background: rgba(235, 213, 255, 0.58); left: 20%; z-index: -1;
top: 20%; animation-name: show; animation-duration: 1.3s;}
@keyframes show{
    0%{opacity: 0; transform: scale(0);}
    30%{opacity: 0; transform: scale(0);}
    70%{opacity: 0.5; transform: scale(1.2);}
    100%{opacity: 1; transform: scale(1);}
}
.contact:after{content: ''; position: absolute; width: 15%; height: 30%;
border-radius: 100%; background: rgba(255, 206, 0, 0.21); left: 32%; top: 20%; z-index: -1; animation-name: two_show; animation-duration: 1.8s;}
@keyframes two_show{
    0%{opacity: 0; transform: scale(0);}
    30%{opacity: 0; transform: scale(0);}
    70%{opacity: 0.5; transform: scale(1.2);}
    100%{opacity: 1; transform: scale(1);}
}
.contact .ending{height: 100vh; padding: 20% 25%;}
.contact .ending .tell{padding: 5% 0; width: 100%;}
.contact .ending .tell h2{font-size: 65px; white-space: nowrap; margin-top: -50px;}
.contact .ending .tell p{font-size: 20px; margin-left: 10px; color: #838383;}
.contact .ending h3{font-size: 23px; margin-bottom: 30px;}
.contact .ending .infomation span{font-size: 15px;font-weight: normal; display: block; line-height: 1.9; font-size: 16px; color: #535353;}
.contact .ending .infomation span:nth-child(2){font-size: 18px; font-weight: bold;}
.contact .ending .infomation span:nth-child(3){font-size: 18px; font-weight: bold;}
.contact .ending .infomation a {display: block; width: 150px; height: 50px; background: #c4a9ff; white-space: nowrap; color: #fff; border-radius: 8px; font-size: 18px; position: relative;
padding-top: 18px; padding-left: 15px; float: right; margin-right: 45px; margin-top: -65px;}
.contact .ending .infomation a:hover{background: #7557b4;}

.contact .ending .infomation a i{margin-left: 15px; font-size: 15px; 
position: relative;}
.contact .ending .infomation a:hover i{margin-left: 30px; transition: all 0.3s;}

/*line*/
.contact .tell{position: relative; bottom: 10%; margin: 0 auto;
white-space: nowrap; overflow: hidden;}
.contact .tell h2{animation: type 3s steps(25); overflow: hidden;    
border-right: 3px solid #6c6c6c;}
@keyframes type{
    0%{width: 0ch;}
    100%{width: 24ch;}
}
.contact .tell tell:before{content: ''; position: absolute; }
.contact .line p{float: left;} 
