@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&display=swap'); 

/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;}
* {margin: 0; padding: 0;}
a {color:inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i { font-style: normal;}
h1, h2, h3, h4, h5,h6 {font-size: inherit;}
a:hover { text-decoration: none; color:inherit;}

/*layout*/
body{font-family: 'Noto Sans KR', sans-serif; font-size: 15px;}
.wrap {width: 100%; overflow: hidden;}
section{width: 1400px;}

/*weblist*/
.funiture{width: 100%; height: 100vh; margin: 0 auto;}
.funiture .funiture_list{width: 50%; height: 100vh; background: url(../img/funiture_mockup.jpg)no-repeat center/cover;}
.funiture .funiture_list:before{content: ''; width: 50%; height: 100vh;}
.funiture .funiture_list .slideup {box-shadow:  5px 5px 25px rgba(128, 128, 128, 0.16); width: 30%; height: 56%; position: absolute; border-radius: 20px; left: 60%;  top: 20%; background: #fff; }
.funiture .funiture_list .slideup:before{content: ''; background: #f1f1f1; position: absolute; width: 100%; height: 100%; left: 6%;  border-radius: 20px; top: 5%; z-index: -1;}

.funiture .funiture_list .slideup .txt{position: absolute; top: 50%; transform: translateY(-50%); display: block; width: 100%; height: 100%;  height:500px; overflow: }
.funiture .funiture_list .slideup .txt h2{font-size: 30px; position: absolute;
border-bottom: 1px solid #555; left: 10%; top: 10%; animation-name: slide-up; animation-duration: 1.4s;}
@keyframes slide-up{
    0%{opacity: 0;  top:75%;}
    30%{opacity: 0;  top:70%;}  
   100%{opacity: 1;  top:10%;}
}

.funiture .funiture_list .slideup .txt span{color: #aaaaaa;  position:absolute; left: 2%; top: -11%;}
.funiture .funiture_list .slideup .txt p{font-size: 15px;position: absolute;
left: 45px; top: 140px; line-height: 1.9; color: #555; 
animation-name: story; animation-duration: 2s;}
@keyframes story{
    0%{opacity: 0; top: 70%;}
    30%{opacity: 0; top: 60%;}
    100%{opacity: 1; top: 140px;}
}
.funiture .funiture_list .slideup .txt h3{font-size: 16px; position: absolute; left: 55px; top: 50%; animation-name: point; animation-duration: 2.4s;}
@keyframes point{
    0%{opacity: 0; top: 75%;}
    30%{opacity: 0; top: 70%;}
    50%{opacity: 0; top: 60%;}
    100%{opacity: 1; top: 50%;}
}
.funiture .funiture_list .slideup .txt ul{position: relative; animation-name: point2; animation-duration: 2.4s;}
@keyframes point2{
    0%{opacity: 0; top: 85%;}
    50%{opacity: 0; top: 75%;}
    100%{opacity: 1; top: 65%;}
}
.funiture .funiture_list .slideup .txt ul li{position: absolute; 
display: inline-block;}
.funiture .funiture_list .slideup .txt ul li:nth-child(1){position: absolute; left: 8%; margin-top: -10px;}
.funiture .funiture_list .slideup .txt ul li:nth-child(1):before{content: ''; width: 22px; height: 22px; position: absolute; margin-left: -18%; 
border-radius: 50%; background: #b5905d; left: 20%;}
.funiture .funiture_list .slideup .txt ul li:nth-child(2){position: absolute; left: 29%; margin-top: -10px;}
.funiture .funiture_list .slideup .txt ul li:nth-child(2):before{content: ''; width: 22px; height: 22px; position: absolute; border-radius: 50%; left: 2%; background: #f4ecd5;}
.funiture .funiture_list .slideup .txt ul li:nth-child(3){position: absolute; left: 50%; margin-top: -10px;}
.funiture .funiture_list .slideup .txt ul li:nth-child(3):before{content: ''; width: 22px; height: 22px; position: absolute; left: 2%; background: #999; border-radius: 50%;}


.funiture .funiture_list ul{position: relative; left: -6 0%; top: 65%;}
.funiture .funiture_list li{position: absolute; padding: 0 52px; font-size: 14px;}


.funiture .funiture_list .btnStart{display: inline-block; position: absolute; left:70%; top: 67%; width: 150px; height: 45px; border-radius: 200px; border: 1px solid #8b8b8b; background: #fff; box-sizing: border-box;}
.funiture .funiture_list .btnStart:hover{background: #555; transition: all 0.3s; border: none; color: #fff;}
.funiture .funiture_list .btnStart .text p{position: absolute; left: 17px;
top: 10px; color: #555;}
.funiture .funiture_list .btnStart:hover .text p:hover{border: none; color: #fff;}

.funiture .funiture_list .btnStart .text{position: relative; left: 15%; top: 22%; font-size: 13px; font-weight:bold;}
.funiture .funiture_list .btnStart .mask{position: absolute; top: 0;width: 0; display: block; height: 100%; border-radius: 200px;}
.funiture .funiture_list .btnStart:hover{background: #b1b1b1;  transition: all 0.3s; border: none;}
.funiture .funiture_list .btnStart:hover .text{color: #fff;}
.funiture .funiture_list .back{position: absolute; right: 0; margin-right: 90px; bottom: 0; margin-bottom: 60px; font-size: 15px; color: #646464;
font-weight: 600; opacity: 0.5;}
.funiture .funiture_list .back:hover {opacity: 0.8;}
.funiture .funiture_list a i{font-size: 45px; position: absolute; left: -25px; top: -12px;}
