@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&display=swap'); 

/*reset*/
html {
    scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;}
* {margin: 0; padding: 0;}
a {color:inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i { font-style: normal;}
h1, h2, h3, h4, h5,h6 {font-size: inherit;}
a:hover { text-decoration: none; color:inherit;}

/*layout*/
body{font-family: 'Noto Sans KR', sans-serif; font-size: 15px;}
.wrap {width: 100%; margin: 0 auto;}
section{width: 1400px; overflow: hidden;}
.slick-next{opacity: 0;}



header{width: 100%; height: 70px; position: fixed; 
background: #6D6D6D; z-index: 30; opacity: 0.7; overflow: hidden;}
header .innerheader_logo{width: 170px; height: 100%;
display: inline-block; margin-left: 10%;z-index: 500;}
header .innerheader_logo .logo a{margin-left: 10px;}
header .innerheader_logo .logo a img{width: 150px;}

.innerheader{z-index: 50; width: 1000px;  height: 70px; 
/*background: #555; */
float: right; margin-right: 20%; opacity: 1;}
.innerheader .nav{
color: #fff; font-weight: normal; }
.innerheader .nav li{width: 20%; text-align: center; line-height: 70px; float: left;
margin: 0 20px;}
.innerheader .nav li:nth-child(1){margin-left: 11%;}
.innerheader .nav li a{display: block;}
.innerheader .nav li a:hover{color: #9d73f8;}
.gnbMo{display: none;}

/*fixHeader*/
header.on{transition: all 0.5s;}
header:before{content: ''; width: 100%; height: 0; background: #fff;
position: absolute; top: 0; transition: all 0.6s; z-index: -1; border-bottom: 1px solid #2c2c2c; }
header.on:before{width: 100%; height: 100%; border-bottom: 1px solid #838383; transition: all 0.5s;}
.nav.on{transition: all 0.5s; color: #000; font-weight: bold;}